<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Tentang Jepun Putih</h2>
        <h3 class="section-subheading text-muted">Temukan destinasi anda</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="/fromtemplate/img/about/rizkysadewa-nusapenida.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2012</h4>
                <h4 class="subheading">Permulaan yang sederhana</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Terima kasih kepada Sang Pencipta karena telah diberikan kesempatan untuk mengemban ilmu di tanah yang merupakan idaman dan cita-cita semenjak dulu. Kini saya bisa dan akan pernah merasakan aura yang begitu mengubah langkah setiap orang. Bali, Indonesia.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="/fromtemplate/img/about/rizky-stikom-logo.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2014-2018</h4>
                <h4 class="subheading">My Greatest Campus "STIKOM"</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Ini adalah tugas skripsi dari saya, semoga menjadi awal yang lebih baik. Karena berbagi adalah salah satu tugas yang harus dikerjakan, mengingat sebaik-baiknya manusia adalah yang mempunyai manfaat bagi sesamanya.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="/fromtemplate/img/about/3.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Saat Ini </h4>
                <h4 class="subheading">Menuju Cita - cita</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Semua orang ingin bahagia, tak kercuali saya yang sampai saat inipun masih saja mengejar kebahagiaan.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Mari
                <br>melangkah
                <br>saja!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
